
.event {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.event-details {
    display: flex;
    justify-content: space-between;
}

.event-info {
    margin-right: 20px;
}

.event-name {
    text-align: center;
    margin-bottom: 10px;
}

.event-price {
    text-align: right;
}

.bands {
    text-align: center;
}
.band {
    margin-bottom: 10px;
}